# Lokalisierung
d-i debian-installer/locale string de_DE
d-i keyboard-configuration/xkb-keymap select de

# Netzwerk (DHCP aktiv für die Installation)
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string secuscribe-vm
d-i netcfg/get_domain string local

# Spiegelserver (Deaktiviert für reinen DVD-Build)
d-i apt-setup/use_mirror boolean false

# Benutzer-Accounts (sysadmin und root)
d-i passwd/root-login boolean true
d-i passwd/root-password password P@ssw0rd
d-i passwd/root-password-again password P@ssw0rd
d-i passwd/user-fullname string System Administrator
d-i passwd/username string sysadmin
d-i passwd/user-password password P@ssw0rd
d-i passwd/user-password-again password P@ssw0rd
d-i user-setup/allow-password-weak boolean true

# --- MANUELLE PARTITIONIERUNG (Fix: 10MB Dummy-Swap) ---
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select boot-root
d-i partman-auto/expert_recipe string \
      boot-root :: \
              1024 1024 1024 ext4 \
                      $primary{ } $bootable{ } \
                      method{ format } format{ } \
                      use_filesystem{ } filesystem{ ext4 } \
                      mountpoint{ /boot } \
              . \
              10 10 10 linux-swap \
                      $primary{ } \
                      method{ swap } format{ } \
              . \
              500 10000 -1 ext4 \
                      $primary{ } \
                      method{ format } format{ } \
                      use_filesystem{ } filesystem{ ext4 } \
                      mountpoint{ / } \
              .
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Software-Auswahl (Nur SSH und Standard)
tasksel tasksel/first multiselect ssh-server
d-i pkgsel/include string sudo curl acl nftables
d-i pkgsel/upgrade select none
d-i pkgsel/update-policy select none

# Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev  string /dev/sda

# CD/DVD-Abfragen unterdrücken
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false

# Abschluss & SSH Root Login temporär für Packer erlauben
d-i preseed/late_command string \
    in-target sed -i 's/^#*PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config ; \
    in-target systemctl enable ssh
d-i finish-install/reboot_in_progress note